In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [2]:
#Create a spark session
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

23/02/18 22:42:37 WARN Utils: Your hostname, lenovo resolves to a loopback address: 127.0.1.1; using 192.168.1.10 instead (on interface wlp0s20f3)
23/02/18 22:42:37 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/18 22:42:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.option("header", "true").option("inferSchema", "true")\
    .csv("/home/sakabuana31/DigitalSkola/Learning/latihan_spark/input/yellow_tripdata_2021-01.csv.gz")
print("Here is our inferred schema:")
df.printSchema()

Here is our inferred schema:
root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [4]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       1| 2021-01-01 00:30:10|  2021-01-01 00:36:12|              1|          2.1|         1|                 N|         142|          43|           2|        8.0|  3.0|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|
|       1| 2021-01-01 00:51:20|  2021-01-01 00:52:19|              1|          0.2|         1|                 N|         238|         151|           2|        3.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.3|                 0.0|
|       1| 2021-01-01 00:43:30|  2021-01-01 01:11:06|              1|         14.7|         1|                 N|         132|         165|           1|       42.0|  0.5|    0.5|      8.65|         0.0|                  0.3|       51.95|                 0.0|
|       1| 2021-01-01 00:15:48|  2021-01-01 00:31:01|              0|         10.6|         1|                 N|         138|         132|           1|       29.0|  0.5|    0.5|      6.05|         0.0|                  0.3|       36.35|                 0.0|
|       2| 2021-01-01 00:31:49|  2021-01-01 00:48:21|              1|         4.94|         1|                 N|          68|          33|           1|       16.5|  0.5|    0.5|      4.06|         0.0|                  0.3|       24.36|                 2.5|
|       1| 2021-01-01 00:16:29|  2021-01-01 00:24:30|              1|          1.6|         1|                 N|         224|          68|           1|        8.0|  3.0|    0.5|      2.35|         0.0|                  0.3|       14.15|                 2.5|
|       1| 2021-01-01 00:00:28|  2021-01-01 00:17:28|              1|          4.1|         1|                 N|          95|         157|           2|       16.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.3|                 0.0|
|       1| 2021-01-01 00:12:29|  2021-01-01 00:30:34|              1|          5.7|         1|                 N|          90|          40|           2|       18.0|  3.0|    0.5|       0.0|         0.0|                  0.3|        21.8|                 2.5|
|       1| 2021-01-01 00:39:16|  2021-01-01 01:00:13|              1|          9.1|         1|                 N|          97|         129|           4|       27.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        28.8|                 0.0|
|       1| 2021-01-01 00:26:12|  2021-01-01 00:39:46|              2|          2.7|         1|                 N|         263|         142|           1|       12.0|  3.0|    0.5|      3.15|         0.0|                  0.3|       18.95|                 2.5|
|       2| 2021-01-01 00:15:52|  2021-01-01 00:38:07|              3|         6.11|         1|                 N|         164|         255|           1|       20.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        24.3|                 2.5|
|       2| 2021-01-01 00:46:36|  2021-01-01 00:53:45|              2|         1.21|         1|                 N|         255|          80|           1|        7.0|  0.5|    0.5|      2.49|         0.0|                  0.3|       10.79|                 0.0|
|       1| 2021-01-01 00:10:46|  2021-01-01 00:32:58|              2|          7.4|         1|                 N|         138|         166|           2|       24.5|  2.5|    0.5|       0.0|        6.12|                  0.3|       33.92|                 0.0|
|       2| 2021-01-01 00:31:06|  2021-01-01 00:38:52|              5|          1.7|         1|                 N|         142|          50|           1|        8.0|  0.5|    0.5|      2.36|         0.0|                  0.3|       14.16|                 2.5|
|       2| 2021-01-01 00:42:11|  2021-01-01 00:44:24|              5|         0.81|         1|                 N|          50|         142|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 2.5|
|       2| 2021-01-01 00:17:48|  2021-01-01 00:21:55|              1|         1.01|         1|                 N|         236|         237|           1|        5.5|  0.5|    0.5|       1.0|         0.0|                  0.3|        10.3|                 2.5|
|       2| 2021-01-01 00:33:38|  2021-01-01 00:38:37|              1|         0.73|         1|                 N|         142|         239|           1|        5.5|  0.5|    0.5|      2.79|         0.0|                  0.3|       12.09|                 2.5|
|       2| 2021-01-01 00:47:56|  2021-01-01 00:52:53|              1|         1.17|         1|                 N|         238|         166|           1|        6.5|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|                 2.5|
|       2| 2021-01-01 00:04:21|  2021-01-01 00:07:58|              1|         0.78|         1|                 N|         239|         238|           1|        4.5|  0.5|    0.5|      1.66|         0.0|                  0.3|        9.96|                 2.5|
|       2| 2021-01-01 00:18:36|  2021-01-01 00:27:10|              2|         1.66|         1|                 N|         151|         142|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

In [5]:
df.createOrReplaceTempView("tripData")

In [12]:
sqlDF = spark.sql("SELECT DISTINCT VendorID,  tpep_pickup_datetime, tpep_dropoff_datetime FROM \
tripData where PULocationID is not null and DOLocationID ='151' and VendorID= '1' \
GROUP BY VendorID,  tpep_pickup_datetime, tpep_dropoff_datetime ORDER BY tpep_pickup_datetime ASC")
sqlDF.show()

+--------+--------------------+---------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|
+--------+--------------------+---------------------+
|       1| 2021-01-01 00:25:30|  2021-01-01 00:35:34|
|       1| 2021-01-01 00:51:20|  2021-01-01 00:52:19|
|       1| 2021-01-01 00:53:01|  2021-01-01 00:59:03|
|       1| 2021-01-01 00:56:57|  2021-01-01 01:04:21|
|       1| 2021-01-01 01:25:53|  2021-01-01 01:43:54|
|       1| 2021-01-01 01:26:07|  2021-01-01 01:38:13|
|       1| 2021-01-01 01:26:32|  2021-01-01 01:32:15|
|       1| 2021-01-01 01:38:54|  2021-01-01 01:57:07|
|       1| 2021-01-01 01:40:22|  2021-01-01 02:06:31|
|       1| 2021-01-01 01:43:26|  2021-01-01 01:53:31|
|       1| 2021-01-01 01:46:47|  2021-01-01 01:58:55|
|       1| 2021-01-01 01:46:49|  2021-01-01 02:05:22|
|       1| 2021-01-01 01:53:59|  2021-01-01 01:54:03|
|       1| 2021-01-01 01:56:17|  2021-01-01 02:15:17|
|       1| 2021-01-01 02:27:04|  2021-01-01 02:35:33|
|       1| 2021-01-01 02:33:05|  2021-01-01 02:42:34|
|       1| 2021-01-01 02:39:13|  2021-01-01 02:49:54|
|       1| 2021-01-01 02:47:28|  2021-01-01 02:53:54|
|       1| 2021-01-01 03:19:39|  2021-01-01 03:27:46|
|       1| 2021-01-01 03:25:10|  2021-01-01 03:32:19|
+--------+--------------------+---------------------+
only showing top 20 rows

In [14]:
df_distinct = spark.sql("SELECT DISTINCT store_and_fwd_flag from tripData where PULocationID IS NOT NULL and DOLocationID is NOT NULL ")
df_distinct.show()

+------------------+
|store_and_fwd_flag|
+------------------+
|              null|
|                 Y|
|                 N|
+------------------+

In [15]:
sqlDF.write.parquet("/home/sakabuana31/DigitalSkola/Learning/latihan_spark/output/spark_write_parquet.parquet")

In [16]:
df_parquet = spark.read.parquet("/home/sakabuana31/DigitalSkola/Learning/latihan_spark/output/spark_write_parquet.parquet")
df_parquet.show()

+--------+--------------------+---------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|
+--------+--------------------+---------------------+
|       1| 2021-01-01 00:25:30|  2021-01-01 00:35:34|
|       1| 2021-01-01 00:51:20|  2021-01-01 00:52:19|
|       1| 2021-01-01 00:53:01|  2021-01-01 00:59:03|
|       1| 2021-01-01 00:56:57|  2021-01-01 01:04:21|
|       1| 2021-01-01 01:25:53|  2021-01-01 01:43:54|
|       1| 2021-01-01 01:26:07|  2021-01-01 01:38:13|
|       1| 2021-01-01 01:26:32|  2021-01-01 01:32:15|
|       1| 2021-01-01 01:38:54|  2021-01-01 01:57:07|
|       1| 2021-01-01 01:40:22|  2021-01-01 02:06:31|
|       1| 2021-01-01 01:43:26|  2021-01-01 01:53:31|
|       1| 2021-01-01 01:46:47|  2021-01-01 01:58:55|
|       1| 2021-01-01 01:46:49|  2021-01-01 02:05:22|
|       1| 2021-01-01 01:53:59|  2021-01-01 01:54:03|
|       1| 2021-01-01 01:56:17|  2021-01-01 02:15:17|
|       1| 2021-01-01 02:27:04|  2021-01-01 02:35:33|
|       1| 2021-01-01 02:33:05|  2021-01-01 02:42:34|
|       1| 2021-01-01 02:39:13|  2021-01-01 02:49:54|
|       1| 2021-01-01 02:47:28|  2021-01-01 02:53:54|
|       1| 2021-01-01 03:19:39|  2021-01-01 03:27:46|
|       1| 2021-01-01 03:25:10|  2021-01-01 03:32:19|
+--------+--------------------+---------------------+
only showing top 20 rows

In [22]:
sqlTripData = spark.sql("SELECT VendorID, PUlocationID, DOlocationID, RatecodeID \
FROM tripData WHERE VendorID IS NOT NULL AND PULocationID IS NOT NULL and DOLocationID is NOT NULL AND tpep_pickup_datetime >= ' 2021-01-01' \
AND tpep_pickup_datetime <=' 2021-01-03' GROUP BY VendorID, PUlocationID, DOlocationID, RatecodeID \
ORDER BY VendorID")
sqlTripData.show()

+--------+------------+------------+----------+
|VendorID|PUlocationID|DOlocationID|RatecodeID|
+--------+------------+------------+----------+
|       1|         138|          96|         1|
|       1|         132|         220|         1|
|       1|         237|         224|         1|
|       1|         170|         229|         1|
|       1|         236|         236|         1|
|       1|         262|         140|         1|
|       1|         141|         237|         1|
|       1|         170|         224|         1|
|       1|         229|         237|         1|
|       1|         143|         143|         1|
|       1|         239|         163|         1|
|       1|          90|         223|         1|
|       1|         166|         237|         1|
|       1|          68|         140|         1|
|       1|         116|          65|         1|
|       1|         162|         161|         1|
|       1|         142|         143|         1|
|       1|         142|          82|         1|
|       1|         238|         164|         1|
|       1|         132|          40|         1|
+--------+------------+------------+----------+
only showing top 20 rows